@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(43, 47, 72);
  cursor: default;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  object-fit: cover;
}

h2 {
  font-weight: 400;
}

nav {
  z-index: 1;
  background-color: rgb(66, 69, 86);
  position: sticky;
  top: 0;
  padding: 0 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}

/* Grundlegendes Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1d1d1d;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 59px;
}

.navbar2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: transparent;
}

.nav-list {
  display: flex;
  list-style: none;
  border: 2px solid rgb(255, 255, 255); /* Schwarzer Rahmen */
  padding: 20px; /* Abstand innerhalb des Rahmens */
  margin: 20px; /* Abstand außerhalb des Rahmens */
  border-radius: 22px; /* Abgerundete Ecken (optional) */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schatten (optional) */
  margin-top: -147px;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  margin-top: -1px;
}


/* Hover-Effekt */
.nav-item:hover {
  color: #00aeff; /* Textfarbe */
  transform: scale(1.2); /* Vergrößern */
}

/* Cooles animiertes Unterstreichen */
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #0091ff, #1500ff);
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%; /* Unterstreichen beim Hover */
}

nav .logo,
footer .logo {
  display: flex;
  align-items: center;
}

nav .logo a,
footer .logo a {
  margin-left: 8px;
  font-weight: bold;
  font-size: 20px;
}

nav .logo img,
footer .logo img {
  width: 200px;
  height: 80px;
  margin-bottom: -16px;
  margin-left: -2165px;
}

nav ul,
footer .top ul {
  display: flex;
  gap: 40px;
}

nav button {
  color: #fff;
  background-color: #000;
  padding: 12px 16px;
  border-radius: 100%;
  border: 1px solid #1f1f1f;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 55px;
  width: 55px;
  font-size: 18px;
  margin-right: -2064px;
}

nav button#menuButton {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 7px;
}

.hero {
  margin-top: -100px;
  height: calc(100vh - 80px);
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.hero > img {
  max-width: 900px;
  width: 100%;
  border-radius: 26px;
  margin-right: 160px;
}

.hero .left-section {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.hero .left-section .top h2 {
  font-size: 44px;
  margin-bottom: 24px;
  color: #fff;
}

.hero .left-section .top p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 24px;
  text-align: justify;
}

.hero .left-section .top .buttons {
  display: flex;
  gap: 8px;
}

.hero .left-section .top .buttons button,
.projects .inner > button,
.contact .items .item button {
  font-size: 16px;
  border: none;
  padding: 5px 20px;
  background: #000;
  border: 1px solid #dedede;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 500;
  transition: all 0.3s ease;
  color: #fff;
}

.hero .left-section .top .buttons button i {
  font-size: 26px;
}

.hero .left-section .top .buttons button.doc,
.contact .items .item button {
  background: #000;
  color: #fff;
}

.hero .left-section .top .buttons button.git:hover {
  background: #000;
  color: #fff;
  border-color: transparent;
}

.hero .left-section .bottom p {
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
}

.icons a i {
  color: #fff;
}

.hero .left-section .bottom .icons {
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 38px;
  cursor: pointer;
  width: fit-content;
  color: #fff;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(43, 47, 72);
  padding: 50px;
}

.about > p {
  font-size: 14px;
  color: #000;
  border: 1px solid #e8e8e8;
  padding: 6px 14px;
  border-radius: 16px;
  margin-bottom: 12px;
  background: #fff;
}

.about > h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.about .items {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.about .items .item {
  width: 26%;
  border: 1px solid #000;
  border-radius: 16px;
  background: #1f1f1f;
  padding: 0 0 30px;
}

.about .items .item .inner {
  background: #1f1f1f;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #000;
  min-height: 365px;
}

.about .items .item .inner img {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 12px;
}

.about .items .item .inner a {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
  display: block;
}

.about .items .item .inner p {
  color: #fff;
  font-size: 15px;
}

.projects {
  padding: 0 24px;
  background: rgb(43, 47, 72);
}

.projects .inner {
  background: #1f1f1f;
  color: #fff;
  padding: 70px;
  border-radius: 24px;
}

.projects .inner p.debug {
  font-size: 14px;
  margin-bottom: 12px;
  color: #d8d8d8;
  border: 1px solid #484848;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
}

.projects .inner p.debug i,
.projects .inner > button i {
  font-size: 18px;
}

.projects .inner > h2 {
  font-size: 38px;
  margin-bottom: 24px;
}

.projects .inner p.info {
  font-size: 18px;
  color: #dedede;
  margin-bottom: 24px;
}

.projects .inner > button {
  padding: 10px 20px;
  margin-bottom: 40px;
}

.projects .inner .items {
  display: flex;
  gap: 20px;
}

.projects .inner .items .item {
  border: 1px solid #484848;
  border-radius: 16px;
  padding: 32px 24px;
  height: 250px;
  width: 24%;
  background: #262626;
}

.projects .inner .items .item i {
  font-size: 38px;
  border: 1px solid #606060;
  border-radius: 10px;
  padding: 10px;
  background: #303030;
}

.projects .inner .items .item a {
  display: block;
  margin: 24px 0 14px;
  color: #fff;
  font-size: 20px;
}

.projects .inner .items .item p {
  color: #a1a1a1;
  font-size: 16px;
  line-height: 24px;
}

.contact {
  padding: 100px 60px;
  background: rgb(43, 47, 72);
}

.contact > h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #fff;
}

.contact .items {
  display: flex;
  background: #1f1f1f;
  border-radius: 12px;
}

.contact .items .item {
  width: 50%;
  padding: 30px;
  border: 1px solid #000;
}

.contact .items .item:nth-child(1) {
  border-radius: 12px 0 0 12px;
}

.contact .items .item:nth-child(2) {
  border-radius: 0 12px 12px 0;
}

.contact .items .item a {
  font-size: 24px;
  color: #fff;
  display: inline-block;
  margin-bottom: 16px;
}

.contact .items .item p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 26px;
}

.contact .items .item button {
  padding: 10px 24px;
}

footer {
  background: #1f1f1f;
  border-radius: 24px 24px 0 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer p,
footer a {
  font-size: 13px;
  color: #fff;
  transition: all 0.3s ease;
}

footer a:hover {
  color: #fff;
  cursor: help;
}

button {
  cursor: pointer;
}

button.doc {
  position: relative;
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid rgb(82, 122, 255);
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button.doc:hover {
  background: rgb(24, 159, 237);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button.doc:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button.doc::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button.doc:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

@media screen and (max-width: 1280px) {
  .hero .left-section .top h2 {
    font-size: 25px;
  }

  .hero .left-section .top p {
    font-size: 14px;
  }

  .hero .left-section .top .buttons button,
  .projects .inner > button,
  .contact .items .item button {
    font-size: 14px;
    padding: 8px 14px;
  }

  .hero .left-section .top .buttons button i {
    font-size: 18px;
  }

  .about .items .item .inner {
    min-height: 340px;
  }

  .about .items .item .inner a,
  .projects .inner > p.info,
  .contact .items .item p {
    font-size: 15px;
  }

  .nav .logo img {
    margin-right: 134px;
  }

  .about .items .item .inner p {
    font-size: 13px;
  }

  .projects .inner .items {
    flex-wrap: wrap;
    margin-left: -50px;
    width: 170%;
  } 

  .projects .inner .items .item {
    width: 46%;
    height: 240px;
  }

  .contact .items .item a {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {

  .nav-list {
    display: none;
  }

  button.doc {
    font-size: 26px;
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  }

  button.doc:before {
    animation: sh02 2s linear;
    animation-iteration-count: infinite;
  }

  .nav-list {
    transform: scale(0.7);
  }

  nav button  {
    height: 45px;
    width: 45px;
    margin-right: 20px;
  }

  nav button .ri-information-line {
    font-size: 20px;
    margin-left: -4px;
  }

  .ri-discord-fill {
    margin-left: -4px;
  }

  nav ul {
    gap: 20px;
  }

  nav ul li a {
    font-size: 15px;
  }

  nav {
    justify-content: space-between;
    padding: 0 42px;
  }

  nav ul {
    display: none;
  }

  nav.open .logo {
    display: none;
  }

  nav.open ul {
    display: flex;
  }

  nav button#menuButton {
    display: flex;
  }

  nav ul li a {
    font-size: 18px;
    display: inline-block;
    border-bottom: 4px solid rgb(0, 250, 88);
    border-radius: 3px;
  }

  nav .logo a {
    font-size: 18px;
  }

  .hero {
    margin-top: -100px;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 100px);
  }

  .hero .left-section {
    gap: 20px;
    align-items: center;
  }

  .hero .left-section .top {
    text-align: center;
  }

  .hero .left-section .top .buttons {
    justify-content: center;
  }

  .about .items {
    flex-wrap: wrap;
  }

  .about .items .item {
    width: 40%;
  }

  .projects .inner .items .item {
    height: 250px;
  }

  .contact .items .item button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  nav,
  nav .nav-links {
    gap: 16px;
  }

  .hero {
    padding: 0 40px;
    margin-top: -30px;
  }

  .hero > img {
    width: 120%;
    margin-right: -32px;
  }

  .about > h2 {
    font-size: 18px;
  }

  .about .items .item {
    width: 300px;
  }

  .about .items .item .inner img {
    height: 65%;
    max-height: 250px;
  }
nav button
  .projects .inner {
    padding: 50px 40px;
  }

  .projects .inner > h2 {
    font-size: 24px;
  }

  .projects .inner p.info {
    font-size: 13px;
  }

  .projects .inner button {
    width: 100%;
  }

  .projects .inner .items .item {
    width: 100%;
    height: 200px;
  }

  .projects .inner .items .item i {
    font-size: 28px;
  }

  .projects .inner .items .item a {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
  }

  .projects .inner .items .item p {
    margin-top: 10px;
    font-size: 14px;
  }

  .contact {
    padding: 100px 40px;
  }

  .contact > h2 {
    font-size: 22px;
  }

  .contact .items {
    flex-wrap: wrap;
  }

  .contact .items .item {
    width: 100%;
  }

  .contact .items .item:nth-child(1) {
    border-radius: 12px 12px 0 0;
  }

  .contact .items .item:nth-child(2) {
    border-radius: 0 0 12px 12px;
  }

  footer a,
  footer p {
    font-size: 11px;
  }
}
